#mainContainer
{
    margin: 45px 100px 10px 70px;
}

.alert-icon{
  display: inline-block;
  width : 20px;
  height: 20px;
  border-radius: 50%;
  background: yellow;

}

.violet{
  background: violet;
}

.orange{
  background: orange;
}

.legend .circle {
  background: yellow;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-top: 8px;
}

.yellow{
  background: #e6ac00;
}

.label{
    pointer-events:none;
    font-align : center;
    font-size:120%;
    color : yellow;
    text-align: justify;
    vertical-align: top; 

}

.ouLabel{
    display : inline-block;!important
    pointer-events:none;
    font-align : left;
    font-size:80%;
    color : black;
vertical-align: bottom; 

}
.alert-icon-centroid {
  display: inline-block;!important
  border-radius: 110px;
  background: yellow ;
  box-shadow: 0px 0px 2px #888;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0; }
}

.leaflet-clickable {
  cursor: crosshair !important;
}

.right{
position:relative
float:right
}

.info { padding: 6px 8px; font: 14px/16px Arial, Helvetica, sans-serif; background: white; background: rgba(255,255,255,0.8); box-shadow: 0 0 15px rgba(0,0,0,0.2); border-radius: 5px; } .info h4 { margin: 0 0 5px; color: #777; }
.legend { text-align: left; line-height: 18px; color: #555; } .legend i { width: 18px; height: 18px; float: left; margin-right: 8px; opacity: 0.7; }</style>


.leaflet-container {
    background-color:rgba(255,0,0,0.0);
}


